.input {

  &__label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;

    i {
      font-size: 14px;
      color: var(--secondary-grey-50);
      padding-left: 12.5px;
      position: absolute;
    }

    input {
      width: 100%;
      padding: 9px 12.5px;
      outline: none;
      border-radius: 8px;
      border: 1px solid var(--secondary-grey-20);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    input::placeholder {
      color: #B2B5C5;
    }
  }
}
