<div class="input" [ngStyle]="{'width': width}">
  <p class="input__label" *ngIf="label">{{label}}</p>
  <div class="input__container">
    <i [class]="'icon-' + icon"></i>
    <input type="text" [ngStyle]="{'padding-left' : icon ? '30px' : ''}"
                                  [placeholder]="placeholder"
                                  [disabled]="isDisabled"
                                  [required]="isRequired"
                                  [value]="value"
                                  (input)="handleInput($event)"
    >
  </div>
</div>
