<div class="wrapper">
  <input type="file" (change)="uploadImage($event)" multiple>

  <div class="container">

    <div class="container__upload" *ngIf="!slides.length">
      <div class="container__upload-img">
        <i class="icon-upload"></i>
      </div>
      <h2>Drag and drop files here</h2>
      <h3>or click to select from directory</h3>
    </div>

    <div class="slides" *ngIf="slides.length">
      <div class="slides__item" *ngFor="let slide of slides; let i = index"
           [class.favorite]="favoriteSlide === slide"
           [class.active]="activeSlide === slide"
           [id]="i"
           draggable="true"
           (dragstart)="onDragStart($event, slide)"
           (dragover)="onDragOver($event)"
           (drop)="onDrop($event)"
           (click)="setActive(slide)">
        <p>{{i + 1}}</p>
        <i class="icon-favorite"></i>
        <div class="slides__image">
          <img [src]="slide" alt="slide">
        </div>
      </div>
    </div>

  </div>

</div>
