<div class="type">
  <app-input [(value)]="content.typeTitle" [width]="'800px'" [placeholder]="'e. g. Top best movies of all time'" [label]="'Name'" [isRequired]="true"></app-input>

  <div class="type__container">
    <h3>Choose type of management</h3>

    <div class="type__card-container">
      <div class="type__card" *ngFor="let type of contentType"
                              (click)="cardHandle(type)"
                              [class.active]="this.content.type === type">
        <img [src]="'assets/images/' + type.toLowerCase() + '.svg'" [alt]="type">
        <h2>{{type}}</h2>
      </div>
    </div>
  </div>
</div>
