<div class="stepper">
  <div class="stepper__container" *ngFor="let step of stepper; let i = index" [class.active]="isActive(step)" [class.done]="isCompleted(i)">
    <div class="circle" [class.active]="isActive(step)" [class.done]="isCompleted(i)">
      <i class="icon-check"></i>
    </div>
    <p>{{step}}</p>
  </div>
<!--  <div class="stepper__container" [ngClass]="{'active': steps[1].action == 'active',-->
<!--                                              'done': steps[1].action == 'done'}">-->
<!--    <div class="circle" [ngClass]="{'active': steps[1].action == 'active',-->
<!--                                              'done': steps[1].action == 'done'}">-->
<!--      <i class="icon-check"></i>-->
<!--    </div>-->
<!--    <p>{{steps[1].name}}</p>-->
<!--  </div>-->
<!--  <div class="stepper__container" [ngClass]="{'active': steps[2].action == 'active',-->
<!--                                              'done': steps[2].action == 'done'}">-->
<!--    <div class="circle" [ngClass]="{'active': steps[2].action == 'active',-->
<!--                                              'done': steps[2].action == 'done'}">-->
<!--      <i class="icon-check"></i>-->
<!--    </div>-->
<!--    <p>{{steps[2].name}}</p>-->
<!--  </div>-->
  <div class="line"></div>
</div>
