<button class="button" [ngStyle]="{'font-size' : size,
                                   'flex-direction': isReversed ? 'row-reverse' : ''}"
                                    [class]="class"
                                    (click)="onClick()"
                                    [disabled]="isDisabled"
                                    [type]="type"
                                    [routerLink]="link"
>
  {{title}}
  <i [class]="'icon-' + icon" style="color: white" [ngStyle]="{'font-size': iconSize,
                                          'color': iconColor}">
  </i>

</button>
