.button {
  padding: 10px 23px;
  background: var(--primary-50);
  display: flex;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  align-self: end;
  font-weight: 500;
  font-family: Ubuntu, sans-serif;

  i {
    color: var(--secondary-grey-50) !important;
  }
}

.primary {

}

.secondary {
  padding: 6.5px;
  background: transparent;
}
