.button {
  padding: 10px 23px;
  background: var(--primary-50);
  display: flex;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  align-self: end;
  font-weight: 500;
  font-family: inherit;

  i {
    color: var(--secondary-grey-50);
  }
}

.primary {
  background: var(--secondary-grey-10);
  color: var(--secondary-grey-70);
}

.secondary {
  padding: 6.5px;
  background: transparent;
  color: var(--secondary-grey-50);
}
