<div class="header">
  <div class="header__container">
    <nav class="navigation">

      <div class="navigation__logo" routerLink="/">
        <a class="icon-logo"></a>
        <div class="navigation__logo-container">
          <h3>fastpress</h3>
          <h4>prezna</h4>
        </div>
      </div>

      <div class="navigation__links">
        <a routerLink="domains" routerLinkActive="active">Sites</a>
        <a routerLink="/">Library</a>
      </div>

    </nav>

    <div class="header__buttons">
      <i class="icon-bell"></i>
      <i class="icon-user"></i>
    </div>
  </div>
</div>
