<div class="card">
  <div class="card__header">
    <h3>{{card.title}}</h3>
    <app-button [class]="'secondary'" [icon]="'settings'" [link]="card.id"></app-button>
  </div>
  <div class="card__options">
    <div class="card__image">
      <i class="icon-image" *ngIf="!card.img"></i>
      <img [src]="card.img" [alt]="card.title" *ngIf="card.img">
    </div>
    <div class="card__info">
      <div class="card__info-container">
        <i class="icon-domain"></i>
        <a [routerLink]="card.id + '/content'">{{card.domain}}</a>
      </div>
      <div class="card__info-container">
        <i class="icon-theme"></i>
        <h4>{{card.theme}}</h4>
      </div>
    </div>
  </div>
</div>
