<div class="content">
  <app-input [width]="'800px'" [placeholder]="'e. g. Top best movies of all time'" [label]="'Name'" [isRequired]="true"></app-input>

  <div class="content__container">
    <h3>Choose type of content</h3>

    <div class="content__card-container">
      <div class="content__card">
        <img src="assets/images/gallery.svg" alt="Gallery">
        <h2>Gallery</h2>
      </div>
      <div class="content__card">
        <img src="assets/images/article.svg" alt="Article">
        <h2>Article</h2>
      </div>
      <div class="content__card">
        <img src="assets/images/quiz.svg" alt="Quiz">
        <h2>Quiz</h2>
      </div>
    </div>
  </div>
</div>
