<div class="card">

  <div class="card__image">
    <i class="icon-image"></i>
    <img src="" alt="test">
    <p>{{id}}</p>
  </div>

  <h4>The More Important the Work, the More Important the Rest</h4>
  <input type="checkbox">
  <h4>Gallery</h4>
  <h4>Yes</h4>
  <h4>Nature</h4>
  <h4>Text</h4>
  <h4>14/11/21 4:05 AM</h4>

  <div class="card__buttons">
    <app-button [class]="'secondary'" [icon]="'link'" [iconSize]="'8px'"></app-button>
    <app-button [link]="id" [class]="'secondary'" [icon]="'arrow-right'" [iconSize]="'10px'"></app-button>
  </div>

</div>
