<div class="wrapper">
  <div class="details">
    <app-input [(value)]="details.link" [width]="'500px'" [placeholder]="'https://test.fastpress.prezna.com'" [icon]="'link'"></app-input>
    <app-image-upload [width]="'500px'" [height]="'96px'" [label]="'Featured image'"></app-image-upload>
    <app-select [options]="[{name: 'test category 1'}, {name: 'test category 2'}]" [(value)]="details.category" [placeholder]="'Select'" [label]="'Category'"></app-select>
    <app-select [options]="[{name: 'test author 1'}, {name: 'test author 2'}]" [(value)]="details.author" [placeholder]="'Select'" [label]="'Author'"></app-select>
    <app-select [placeholder]="'Select'" [label]="'Tag'"></app-select>
    <app-checkbox [(checked)]="details.landing" [title]="'Show on landing'"></app-checkbox>
    <app-checkbox [(checked)]="details.trending" [title]="'Trending'"></app-checkbox>
    <app-textarea [(value)]="details.description" [label]="'Content description'" [width]="'500px'" [limit]="250"></app-textarea>
  </div>
</div>
