<div class="content">

  <div class="content__header" [ngStyle]="{'border-bottom': router.url.includes('create') ? '2px solid var(--secondary-grey-20)' : ''}">
    <div class="content__header-container">
      <h2>{{router.url.includes('create') ? content : name}}</h2>
      <app-stepper *ngIf="router.url.includes('create')"></app-stepper>
    </div>

    <div class="content__header-buttons" *ngIf="router.url.includes('create')">
      <app-button [title]="'Next step'"></app-button>
      <app-button [link]="'/content/' + id" [icon]="'cross'" [class]="'primary'"></app-button>
    </div>
    <app-button [link]="'/domains/' + id" [icon]="'settings'" [title]="'Settings'" [isReversed]="true" [class]="'secondary'" *ngIf="!router.url.includes('create')"></app-button>
  </div>

  <router-outlet></router-outlet>
</div>
