.content {
  width: 97%;
  height: calc(100vh - 120px);
  border-radius: 16px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  z-index: 999;

  &__header {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}

.content__dashboard {
  padding: 24px 24px 0px 24px;

  &-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__container {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &-header {
    margin-top: 24px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-grey-5);

    h5 {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: var(--secondary-grey-50);
      cursor: pointer;
    }
  }
}
