<div class="select">
  <p class="select__label">{{label}}</p>
  <div class="select__block" (click)="open = !open">
    <div class="select__block-value" *ngIf="!open">{{value}}</div>
    <p class="select__block-placeholder">{{placeholder}}</p>
    <img src="../../../../assets/images/arrow_up.png" alt="arrow_up" *ngIf="open">
    <img src="../../../../assets/images/arrow_down.png" alt="arrow_down" *ngIf="!open">
  </div>

  <div class="options" *ngIf="open">
    <div class="input" *ngIf="showSearch">
      <app-input [img]="'../../../../assets/images/globe.png'" [placeholder]="'Search'"></app-input>
    </div>
    <ul class="options__list">
      <li class="options__no-result" *ngIf="!options.length">
        No result found
      </li>
      <li class="options__item"
          *ngFor="let option of options"
          (click)="selectOption(option)"
      >
          {{option.name}}
      </li>
    </ul>
  </div>
</div>
