.content__dashboard {
  padding: 24px 24px 0px 24px;

  &-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__container {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &-header {
    margin-top: 24px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-grey-5);

    h5 {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: var(--secondary-grey-50);
      cursor: pointer;
    }
  }
}
