<div class="header">
  <div class="header__wrapper">
    <div class="header__container">
      <nav class="header__navigation">
        <a routerLink="/"><img src="../../../../assets/images/logo.png" alt="Logo"></a>
        <ul>
          <li class="active"><a routerLink="sites">Sites</a></li>
          <li><a routerLink="/">Library</a></li>
        </ul>
      </nav>
      <div class="header__buttons">
        <button><img src="../../../../assets/images/bell.png" alt="bell"></button>
        <button><img src="../../../../assets/images/user.png" alt="user"></button>
      </div>
    </div>
    <p>Bredcrumb 1</p>
  </div>
</div>
