:root {
  --secondary-grey-10: #F1F2F4;
  --secondary-grey-20: #E6E6ED;
  --secondary-grey-50: #8E93A8;
  --secondary-grey-70: #2B334A;
  --primary-50: #6FB295;
  --system-success-50: #287D3C;
  --system-success-10: #EDF9F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, sans-serif;
  height: 100vh;
  background: var(--secondary-grey-10);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
