.tab {
  margin-right: 32px;
  font-size: 14px;

  &__link {
    color: black;
    font-weight: 500;
    padding-bottom: 6px;
    transition: none;
    cursor: pointer;

    &:hover {
      color: #6FB295;
      padding-bottom: 4px;
      border-bottom: 2px solid var(--primary-50);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.active {
  color: #6FB295;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--primary-50);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
