.domain {
  width: 97%;
  height: calc(100vh - 120px);
  border-radius: 16px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  z-index: 999;

  &__header {
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
